@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.Block-1-container {
    background-color: #76BCF5;
    box-shadow: inset 25px 25px 250px 50px #2A699C;
}

.Block-1-img {
    background-image: url("../images/Lev-b1.png");
    height: 950px;
    width: 94%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100px;
}

.about-myself {
    margin-left: 150px;
    height: 520px;
    width: 600px;
    padding-top: 60px;
}
.about-myself .slider-text {
    width: 589px;
}

/*.about-myself #logo {*/
/*    font-family: 'Comfortaa', cursive;*/
/*    font-size: 105px;*/
/*    color: #D7F1FF;*/
/*    text-shadow: 2px 0 0 #D7F1FF, -2px 0 0 #D7F1FF, 0 2px 0 #D7F1FF, 0 -2px 0 #D7F1FF, 1px 1px #D7F1FF, -1px -1px 0 #D7F1FF, 1px -1px 0 #D7F1FF, -1px 1px 0 #D7F1FF, 0px 4px 8px black;*/
/*}*/

.about-myself .slider-text p {
    font-family: 'Comfortaa', cursive;
    color: #D7F1FF;
    text-shadow: 0 4px 8px black;

    /*-webkit-text-stroke: 1px black;*/
    font-size: 42px;
    height: 480px;
}

/*.about-myself #logo #path-1-outside-1 {*/
/*    animation: fill 1s ease forwards 4s;*/
/*}*/
/*.about-myself #logo{*/
/*    animation: fill 1s ease forwards 4s;*/
/*}*/

/*         ----------     logo       ----------   */

/*#logo #path-1-outside-1 path:nth-child(1){*/
/*    stroke-dasharray: 30px;*/
/*}*/

.mini {
    display: none;
}
#logo path:nth-child(2){
    stroke-dasharray: 248px;
    stroke-dashoffset: 248px;
    animation: line-anim 2s ease forwards;
}
#logo #path-1-outside-1 path:nth-child(2){
    stroke-dasharray: 248px;
    stroke-dashoffset: 248px;
}
#logo #path-1-outside-1 path:nth-child(3){
    stroke-dasharray: 328px;
    stroke-dashoffset: 328px;
}
#logo path:nth-child(3){
    stroke-dasharray: 328px;
    stroke-dashoffset: 328px;
    animation: line-anim 2s ease forwards 0.4s;
}
#logo #path-1-outside-1 path:nth-child(4){
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
}
#logo path:nth-child(4){
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
    animation: line-anim 2s ease forwards 0.8s;
}
#logo #path-1-outside-1 path:nth-child(5){
    stroke-dasharray: 248px;
    stroke-dashoffset: 248px;
}
#logo path:nth-child(5){
    stroke-dasharray: 248px;
    stroke-dashoffset: 248px;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo #path-1-outside-1 path:nth-child(6){
    stroke-dasharray: 309px;
    stroke-dashoffset: 309px;
}
#logo path:nth-child(6){
    stroke-dasharray: 309px;
    stroke-dashoffset: 309px;
    animation: line-anim 2s ease forwards 1.4s;
}
#logo #path-1-outside-1 path:nth-child(7){
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
}
#logo path:nth-child(7){
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo #path-1-outside-1 path:nth-child(8){
    stroke-dasharray: 178px;
    stroke-dashoffset: 178px;
}
#logo path:nth-child(8){
    stroke-dasharray: 178px;
    stroke-dashoffset: 178px;
    animation: line-anim 2s ease forwards 2.2s;
}
#logo #path-1-outside-1 path:nth-child(9){
    stroke-dasharray: 291px;
    stroke-dashoffset: 291px;
}
#logo path:nth-child(9){
    stroke-dasharray: 291px;
    stroke-dashoffset: 291px;
    animation: line-anim 2s ease forwards 2.6s;
}
#logo #path-1-outside-1 path:nth-child(10){
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
}
#logo path:nth-child(10){
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
    animation: line-anim 2s ease forwards 3s;
}
/*------------------------------------------------------*/
/*    Animation  */

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #D7F1FF;
    }
}

/*------------------------------------------------------*/


.about-myself .slider-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.about-myself .active-dot{
    background-color: #332A699C;
}

.about-myself .active-dot{
    background-color: #2A699C;
}

.about-myself .slider-position {
    display: flex;
    width: 80px;
    margin-left: 150px;
    margin-right: auto;
}

.about-myself .slider-text .text-opacity p{
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */
    transition: opacity 1s ease-in-out;
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@media (max-width: 900px) {
    .about-myself .big {
        display: none;
    }
    .about-myself .mini {
        display: block;
    }
    .Block-1-img {
        background-size: 400px;
        height: 600px;
    }

    .about-myself h1 {
        font-size: 60px;
    }

    .about-myself .slider-text p {
        font-size: 24px;
        height: 280px;
    }

    .about-myself .slider-text {
        width: 300px;
    }

    .about-myself {
        margin-left: 50px;
        padding-top: 30px;
        width: calc(100% - 200px);
    }


}

@media (max-width: 575px) {
    .Block-1-img {
        background-size: 300px;
        height: 500px;
    }

    .about-myself h1 {
        font-size: 50px;
    }

    .about-myself .slider-text p {
        font-size: 16px;
        height: 200px;
    }

    .about-myself .slider-text {
        width: 200px;
    }

    .about-myself {
        margin-left: 50px;
        padding-top: 30px;
        width: calc(100% - 200px);
    }

}